
 
    <div class="container-fluid"><br><br>
      <strong><legend style="color: #ff6b6b" align="center">UPLOAD</legend></strong>
      <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        
        <div class="col-sm-6" style="background-color:#ff6b6b"><br>
          <form class="form-horizontal" role="form">
         
          <!-- Panel 2 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><strong>File info</strong></h2>
            </div>
            <div class="panel-body" style="max-width: 5"> 
              <!-- Title -->
              <div class="form-group has-error">
                <label class="col-md-3 control-label">Title</label>  
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
                    <input  name="title" class="form-control"  type="text" required>
                  </div>
                </div>
              </div>
              <!-- Type -->  
              <div class="form-group">
                <div class="radio">
                  <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="opciones" id="opc_1" value="opcion_1" checked>Single
                    <button type="button"  class="btn btn-default">Select album</button>
                  </label>
                </div>
                <div class="radio">
                  <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="opciones" id="opc_2" value="opcion_2">Album 
                  </label>
                </div>
                <div class="radio">
                  <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="opciones" id="opc_3" value="opcion_3">Video
                  </label>
                </div>
              </div>
              <!-- $-->
              <div class="form-group has-error">
                <label class="col-md-3 control-label">Price</label>  
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input  name="price" class="form-control"  type="text" required>
                  </div>
                </div>
              </div>
               <!-- $-->
              <div class="form-group has-error">
                <label class="col-md-3 control-label">Description</label>  
                <div class="col-md-8">
                  <div class="input-group">
                    <textarea  name="description" class="form-control" rows="5" cols="50" type="text" required></textarea>
                  </div>
                </div>
              </div><br><br>
              <!-- Button -->
              <form enctype="multipart/form-data">
                  <div class="form-group">    
                      <input id="file-1" type="file" class="file" multiple=true accept="audio/*,video/*" data-preview-file-type="any">
                  </div>
              </form>
            </div><!-- /Panel body-->
          </div><!-- /Panel -->
         
      </form>
      </div>
        <div class="col-sm-3"></div>
      </div>
    </div><!-- /container --><br><br>
