
    <div class="container-fluid"><br><br>
      <strong><legend style="color: #ff6b6b" align="center">EDIT PROFILE</legend></strong>
      <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        
        <div class="col-sm-6" style="background-color:#ff6b6b"><br>
          <form class="form-horizontal" role="form">
         
         <!-- Panel 1 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title" ><strong> General info </strong></h2>
            </div>
            <div class="panel-body" style="max-width: 5">
              <!-- Name -->  
              <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-8">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input class="form-control"  type="text" required>
                  </div>
                </div>
              </div>
              <!-- Last Name -->
              <div class="form-group">
                <label class="col-md-3 control-label">Last name</label>
                <div class="col-md-8">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input class="form-control"  type="text" required>
                  </div>
                </div>
              </div>
              <!-- Birthday -->
              <div class="form-group">
                <label class="col-md-3 control-label">Birthday</label>
                <div class="col-md-8">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <input class="form-control"  type="text">
                  </div>
                </div>
              </div>  
              <!-- Country -->
              <div class="form-group">
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input class="form-control"  type="text" required>
                </div>            
                </div>
             </div>
             <!-- Email -->
              <div class="form-group">
                  <label class="col-md-3 control-label">Email</label>
                  <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input class="form-control"  type="email">
                    </div>
                  </div>
                </div> 
              <!-- Website -->  
              <div class="form-group">
                  <label class="col-md-3 control-label">Website</label>
                  <div class="col-md-8">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <input class="form-control"  type="text">
                </div>
                  </div>
                </div>
              </div>
          </div><!-- /Panel 1 -->
        
          <!-- Panel 2 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><strong>Social networking</strong></h2>
            </div>
            <div class="panel-body" style="max-width: 5">         
              <!-- Facebook -->
              <div class="form-group">
                <label class="col-md-3 control-label">Facebook</label>
                <div class="col-md-8">
                  <input class="form-control" value="Optional" type="text">
                </div>
              </div>
              <!-- Twitter -->
              <div class="form-group">
                <label class="col-md-3 control-label">Twitter</label>
                <div class="col-md-8">
                  <input class="form-control" value="Optional" type="text">
                </div>
              </div>
              <!-- Instagram -->
              <div class="form-group">
                <label class="col-md-3 control-label">Instagram</label>
                <div class="col-md-8">
                  <input class="form-control" value="Optional" type="text">
                </div>
              </div>
          </div>
        </div><!-- /Panel 2 -->
          <!-- button -->
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn <btn-danger></btn-danger>" value="SAVE CHANGES" type="button">
            <span></span>
            <input class="btn btn-default" value="CANCEL" type="reset">
          </div>
        </div>
      </form>
      </div>
        <div class="col-sm-3"></div>
      </div>
    </div><!-- /container -->
